body {
	font-family: 'open sans', sans-serif;
	font-size: 12px;
	font-weight: 100;
	background-color: #E2EEFE;
	line-height:150%;
	align-self: center;
	margin:auto;
	padding:0;
}
p{
	font-size: 14px;
	color: #000000;
	padding-left:30px;
	padding-right:25px;
	padding-top:20px;
	line-height: 200%;
}
li>p{
	font-size: 12px;
	color: #000000;
	line-height: 200%;

}
td {
	font-family: 'open sans', Helvetica;
}

th {
	font-family: 'open sans', Helvetica;
	font-size: 12px;
}

li {
	font-size: 14px;
	color: #000000;
	padding-left:0px;
	line-height:150%;
    text-align: left;
}
#wrapper{
    width:80%;
    margin: auto;
}
#header{
	width: 100%;
	padding: 0;
	display: initial;

}
#header_phones_left{
	background-image:url('../../image/phoneNew2.png'); 
	background-repeat:no-repeat;
	background-position:center;
	background-blend-mode: overlay;
	width: 15%;
	float: left;
	display: flex;
	vertical-align: bottom;
	border: 1;
}
#header_phones_right{
	width: 20%;
	height: 100%;
	float: right;
}
#header_logo{
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	/*background-color: linear-gradient(to right #98AAC0, #000000, #98AAC0);*/
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: #BDCDE0;
	/*box-shadow: 0px 1px 3px 3px #98AAC0;*/
			box-shadow: 
	1px 0px 4px rgba(0, 0, 0, .3),
   0px -13px 10px -13px rgba(0, 0, 0, .8),
   0px 13px 10px -13px rgba(0, 0, 0, .8),
   0 0 20px rgba(0, 0, 0, .1) inset;
	position: relative;
	z-index: 10;
}
#content{
	padding-top: 3px;
	position: relative;
    z-index: 5;
}
#menu{
    width: 20%;
	float: left;
	position: relative;
	z-index: 2;
}
#mainpage{
    width: 80%;
    float: left;
	position: relative;
	z-index: 2;
}
#footer{
	clear: both;
}

.information{
	min-height: 598px;
	background-color: #FFFFFF;
	width: 75%;
	float: left;
		box-shadow: 
	0 1px 4px rgba(0, 0, 0, .3),
   -13px 0 5px -13px rgba(0, 0, 0, .8),
   13px 0 5px -13px rgba(0, 0, 0, .8),
   0 0 20px rgba(0, 0, 0, .1) inset;
}

.rightmenu{
	width: 25%;
	float:left;
}

.bgcolor_white{
	background-color: #FFFFFF;
}

.break{
	clear: both;
	height: 1px;
	z-index: 2;
}
.photo{
	box-shadow: 
	0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;	
}
.ulPartners {
    list-style-type:none;
    list-style-position:inside;
    color: #3399FF;
}

.bodystyle {
	font-size: 12px;
}

.small {
	font-size: 9px;
}

.medium {
	font-size: 12px;
}

.big {
	font-size: 20px;
	color: #000000;
}

.xbig {
	font-size: 16px;
	color: #3399FF;
}

.xxbig {
	font-size: 24px;
	color: #3399FF;
}

.expanded {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified {
	text-align: justify;
}

.footer {
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}
		.menuHead{
			color: #3399FF;
			font-size: 14px;
			font-weight: 100;
			height: 30px;
			text-decoration: none;
			border-bottom: 1px solid #98AAC0;
			text-align: left;
			padding-left: 20px;
			padding-top: 15px;
			vertical-align: middle;
			cursor: pointer;
		}

		.menu {
			color: #FFFFFF;
			background-color: #FF9933;
			font-size: 18px;
			border-bottom: 1px solid #98AAC0;
			text-align: center;
			padding-left: 10px;
		}

		.menuOption {
			background-color: #EFF6FF;
			color: #3399FF;
			font-size: 14px;
			font-weight: 100;
			height: 30px;
			text-decoration: none;
			border-bottom: 1px solid #98AAC0;
			text-align: left;
			padding-left: 35px;
			padding-top: 10px;
			vertical-align: middle;
			cursor: pointer;
		}
		#menu0 {
			display: none;
		}
		#menu12 {
			display: none;
		}

a:link {
	text-decoration: none;
	color: #3399FF;
}
a:visited {
	text-decoration: none;
	color: #3399FF;
}
a:hover {
	text-decoration: underline;
	color: #3399FF;
}
a:active {
	text-decoration: underline;
	color: #3399FF;
}
a.phones:link {
	font-size: 20px;
    font-weight: 350;
	line-height: 150%;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	margin-top:10px;
	text-decoration: none;
  	text-shadow: -1px -1px 5px #FFF,
               -1px 1px 5px #FFF,
               1px 1px 5px #FFF,
               1px -1px 5px #FFF;
}
a.phones:visited {
	font-size: 20px;
    font-weight: 350;
	line-height: 150%;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	margin-top:10px;
	text-decoration: none;
  	text-shadow: -1px -1px 5px #FFF,
               -1px 1px 5px #FFF,
               1px 1px 5px #FFF,
               1px -1px 5px #FFF;
}
a.phones:hover {
	font-size: 20px;
    font-weight: 350;
	line-height: 150%;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	margin-top:10px;
	text-decoration: underline;
  	text-shadow: -1px -1px 5px #FFF,
               -1px 1px 5px #FFF,
               1px 1px 5px #FFF,
               1px -1px 5px #FFF;
}
a.phones:active {
	font-size: 20px;
    font-weight: 350;
	line-height: 150%;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	margin-top:10px;
	text-decoration: underline;
  	text-shadow: -1px -1px 5px #FFF,
               -1px 1px 5px #FFF,
               1px 1px 5px #FFF,
               1px -1px 5px #FFF;
}

.news {
			color: #3399FF;
			font-size: 12px;
			height: 46px;
			text-decoration: none;
			border-bottom: 1px solid #98AAC0;
			text-align: left;
			/*border-left: 1px solid #98AAC0;*/
			vertical-align: middle;
			cursor: pointer;
            padding-left: 5px;
            width: 100%;
}

.newsDate {
	font-size: 12px;
	color: #3399FF;
        	font-style: italic;
        	text-align: right;
}
.newsHeader {
			font-family: 'roboto', sans-serif;
			color: #FFFFFF;
			background-color: #FF9933;
			font-size: 18px;
			border-bottom: 1px solid #98AAC0;
			text-align: center;
			vertical-align: top;
			padding-left: 10px;
}

.newsHeader1 {
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	color: #3399FF;
}
.newsHeader2 {
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	color: #3399FF;
}
.headerPhonesRight{
	font-family: 'roboto', sans-serif;
	font-size: 16px;
    font-weight: bolder;
	color: #000000;
	text-align: center;
	line-height:150%;
	  	text-shadow: -1px -1px 5px #FFF,
               -1px 1px 5px #FFF,
               1px 1px 5px #FFF,
               1px -1px 5px #FFF;
}
.text {
	font-size: 14px;
	color: #000000;
	padding-left:30px;
	padding-right:25px;
	padding-top:20px;
	line-height: 200%;
	text-align: left;
}

.text2 {
	font-size: 18px;
	color: #000000;
	padding-left:20px;
	padding-right:15px;
	padding-top:10px;
}

.textInTable {
	font-size: 14px;
	color: #000000;
	padding-left:20px;
	padding-right:15px;
	padding-top:5px;
	text-align: left;
}

.bodyHeader {
	font-family: 'roboto', sans-serif;
	color: #3399FF;
	font-size: 20px;
	padding-left:20px;
	padding-top:10px;
	text-align: center;
}

.design {
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
	background-color: #0076AE;
}

.anotherColor {
	color: #3399FF;
}

.answer {
	color: #000000;
	font-size: 16px;
	padding-left:40px;
	padding-right:15px;
    font-weight: light;
}

.answerTitle {
	font-family: 'roboto', sans-serif;color: #000000;
	font-size: 18px;
    font-weight: 800;
	padding-left:20px;
	padding-right:15px;
    padding-bottom:0px;
}

.question {
	font-size: 16px;
	font-style: italic;
	color: #000000;
	padding-left:20px;
	padding-right:25px;
    font-weight: light;
}

.questionTitle {
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #000000;
	padding-left:0px;
    padding-bottom:0px;
	padding-right:25px;
}

.kontakt {
	font-size: 24px;
	color: #000000;
}

.bigItalic {
	font-size: 18px;
	font-style: italic;
	color: #3399FF;
}
